//
//  Secrets.xcconfig
//  DataFramework
//
//  Created by Ari Guzzi on 12/2/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
//API_KEY = 6b7c997269msh079aa669495d166p162761jsn5ca1b86968c5
//API_KEY = e2b1f38ff6e645478e5baa06cc8e29d7
//API_BASE_URL = https:$(FWDSlash)$(FWDSlash)api.spoonacular.com$(FWDSlash)recipes$(FWDSlash)complexSearch?apiKey=$(API_KEY)
//
//FWDSlash = /
API_KEY = e2b1f38ff6e645478e5baa06cc8e29d7
API_BASE_URL = https:$(FWDSlash)$(FWDSlash)api.spoonacular.com$(FWDSlash)recipes$(FWDSlash)complexSearch?apiKey=$(API_KEY)

FWDSlash = /
