<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>API_KEY</key>
	<string>$(API_KEY)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.AG.MealPlan</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>MealPlan</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.AG.MealPlan</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>MealPlan</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>fontspring-demo-fieldsdisplay-regular.otf</string>
		<string>fontspring-demo-fieldsdisplay-black.otf</string>
		<string>fontspring-demo-fieldsdisplay-bold.otf</string>
		<string>fontspring-demo-fieldsdisplay-extrabold.otf</string>
		<string>fontspring-demo-fieldsdisplay-medium.otf</string>
		<string>fontspring-demo-fieldsdisplay-semibold.otf</string>
	</array>
</dict>
</plist>
